/* BUTTON */
.jumbotron {
  background-image: url(../image/keycaps&accessories/keycaps.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 400px;
  padding-top: 40px;
}

.bg {
  background-color: rgba(0, 0, 0, 50%);
  height: 300px;
  width: 300px;
  margin: 10px auto;
}

.bg h1 {
  padding-top: 100px;
}

.accessories {
  background-image: url(../image/keycaps&accessories/accessories.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* CLOSE BUTTON */

/* NEW ARRIVAL */
.card h2 {
  font-size: 20px;
  font-weight: 500px;
  font-weight: bold;
  margin: -10px 0 0 -5px;
}

.card p {
    margin-left: -5px;
    margin-bottom: 5px;
}

.card a {
    margin-left: -5px;
}
/* CLOS NEW ARRIVAL */

/* FOOTER */
.icon {
  width: 20px;
  height: 20px;
  fill: red;
}

footer {
  margin-top: 3rem;
  background-color: black;
  width: 1360px;
  padding-top: 2rem;
}

.footer button {
  margin-left: -35px;
}

.footer h3 {
  color: red;
  margin-bottom: -3px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.term {
  margin-top: 2rem;
  margin-left: -2rem;
}

.term ul li{
  display: inline;
}

.term span {
  color: white;
}

.term a {
  color: gray;
}

.icon-pay {
  width: 25px;
  height: 25px;
  fill: red;
  display: inline;
  margin-top: 2rem;
}

.footer a:hover {
  color: red;
}
/* CLOSE FOOTER */