/* NAVBAR */
.navbar a:hover {
  color: red;
}
/* CLOSE NAVBAR */

/* BUTTON */
.jumbotron {
  background-image: url(../image/keycaps&accessories/keycaps.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 400px;
  padding-top: 40px;
}

.jumbotron button {
  color: white;
  border-color: white;
  border-radius: 20px;
  padding: 0px 50px;
}

.bg {
  background-color: rgba(0, 0, 0, 50%);
  height: 300px;
  width: 300px;
  margin: 10px auto;
}

.bg h1 {
  padding-top: 100px;
}

.accessories {
  background-image: url(../image/keycaps&accessories/accessories.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* CLOSE BUTTON */

/* NEW ARRIVAL */
.card h2 {
  font-size: 20px;
  font-weight: 500px;
  font-weight: bold;
  margin: -10px 0 0 -5px;
}

.card p {
  margin-left: -5px;
  margin-bottom: 5px;
}

.card button {
  margin-left: -5px;
}

.card button:hover {
  background-color: red;
  border: 0;
}

.card a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  font-weight: 700;
  margin-left: -5px;
}

.card a:hover {
  color: red;
}

.card a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.card a:hover::after {
  width: 100%;
}
/* CLOS NEW ARRIVAL */

/* FOOTER */
.icon {
  width: 20px;
  height: 20px;
  fill: red;
}

footer {
  margin-top: 3rem;
  background-color: black;
  width: 1360px;
  padding-top: 2rem;
}

.footer h3 {
  color: red;
  margin-bottom: -3px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer img {
  margin-bottom: 1rem;
}

.footer input {
  border-radius: 0px;
}

.footer button {
  border-radius: 0px;
  margin-left: -20px;
}

.term {
  margin-top: 2rem;
  margin-left: -2rem;
}

.term ul li {
  display: inline;
}

.term span {
  color: white;
}

.term a {
  color: gray;
}

.pay {
  margin-left: auto;
}

.icon-pay {
  width: 30px;
  height: 30px;
  fill: gray;
  display: inline;
  margin-top: 2rem;
}

.footer a:hover {
  color: red;
}
/* CLOSE FOOTER */
